.container {
  width: 200px;
  height: 200px;
  background-color: aqua;
  border: 2px solid black;
  cursor: pointer;
}
.img-container {
  width: 200px;
  height: 200px;
  /* background-color: aqua; */
  border: 2px solid black;
  cursor: pointer;
}
.context {
  padding: 20px;
  border: 2px solid black;
}
