.container {
  width: 200px;
  height: 200px;
  background-color: aqua;
  border: 2px solid black;
  cursor: pointer;
}
.img-container {
  width: 200px;
  height: 200px;
  /* background-color: aqua; */
  border: 2px solid black;
  cursor: pointer;
}
.context {
  padding: 20px;
  border: 2px solid black;
}
.menu {
  width: 100vw;
  height: 10vh;
  background-color: rgb(119, 119, 226);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
